<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>House Rent System</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
          crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
            integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
            crossorigin="anonymous"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <style>
        .navbar-brand{
            
            font-weight: 700;
            
            
        }
        .navbar-dark .navbar-brand:hover {
            color:darkgrey;
        }
        ul li{
            margin-left:20px;
        }
        ul li:hover{
            
            
            border-radius:2px;
            text-emphasis-color:blue;
            
        }
        .dropbtn {
            font-weight: 700;
            color: white;
            min-width: 100px;
            font-size: 20px;
            border: none;
            background-color: transparent;
            margin-top:4%;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            color:black;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content h {
                color: black;
                padding:0.5rem 0.5rem;
                text-decoration: none;
                display: block;
                
                
            }

                .dropdown-content h:hover {
                    background-color: lavender;
                    
                    
                    
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        #navbranddrop {
            color: black;
            font-size: 17px;
        }
    </style>
</head>
<body>

    <nav class="navbar fixed-top navbar-expand-sm bg-dark navbar-dark" style="font-weight: 800; font-size:larger">
        <div class="navbar-header">

            <a class="navbar-brand navbar-image" href="#"><img src="~/Content/Image/logo2.png" alt="House_Logo" style="height:40px;width:40px;margin-top:-20%"></a>
            @Html.ActionLink("HouseRent Management System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>

        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto" style="float:right;">
                <li>
                    <div class="dropdown">
                        <button class="dropbtn"><content>Property&nbsp;&nbsp;</content><i class="fa fa-caret-down"></i></button>
                        <div class="dropdown-content">
                            <h>@Html.ActionLink("Add Property", "Addproperty", "Account", new { @class = "navbar-brand", @id = "navbranddrop" }) </h>
                            <h>@Html.ActionLink("View Property", "ViewProperty", "Account", new { @class = "navbar-brand", @id = "navbranddrop" }) </h>

                        </div>
                    </div>
                </li>



                <li>
                    <div class="dropdown">
                        <button class="dropbtn"><content>Booking&nbsp;&nbsp;</content><i class="fa fa-caret-down"></i></button>
                        <div class="dropdown-content">
                            <h>@Html.ActionLink("Waiting List", "WaitList", "Account", new { @class = "navbar-brand", @id = "navbranddrop" }) </h>
                            <h>@Html.ActionLink("Accepted List", "BookedList", "Account", new { @class = "navbar-brand", @id = "navbranddrop" }) </h>

                        </div>
                    </div>
                </li>
                @*<li>@Html.ActionLink("Tenant", "UserData", "Account", new { @class = "navbar-brand" })</li>*@
                <li> @Html.ActionLink("Profile", "UserDetails", "Account", new { @class = "navbar-brand" })</li>

                <li>

                        @Html.ActionLink("Log Out", "Logout", "Account", new { @class = "navbar-brand" })
                    
                   
                </li>

            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year By Sangavi</p>
        </footer>
    </div>
</body>

</html>
