
@model IEnumerable<HouseRentManagementSystem.Models.RegisterUser>

@{
    ViewBag.Title = "UserData";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
    <style>
        .edit {
        }

        #editdetailsdelete {
            width: 29%;
        }

        #bttn {
            border-radius: 5px;
            padding: 2px 10px 2px 10px;
            color: black;
        }

        .edit {
            color: black;
            background-color: black;
        }
    </style>
</head>
<body>
    <div style="font-family:Arial">
        <p>
            @Html.ActionLink("Create New", "Register")
        </p>
        <table class="table" border="1">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MobileNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AadharNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ResetPasswordCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProfileImage)
                </th>
                <th id="editdetailsdelete"></th>
            </tr>

            @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AadharNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResetPasswordCode)
            </td>
            <td>
                @{
                    if (ViewBag.image != null)
                    {
                        var base64 = Convert.ToBase64String(ViewBag.image);
                        var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                        <img src="@imgsrc" style="height:100px; width:100px;">
                    }

                }


            </td>
            <td>
                <button type="button" class="btn-info" id="bttn">   @Html.ActionLink("Edit", "Edit", new { id = item.Id, @class = "edit", Style = "color:White" }) </button>&nbsp;&nbsp;|
                <button type="button" class="btn-success" id="bttn">
                    @Html.ActionLink("Details", "Details", new { id = item.Id, @class = "Details" })
                </button>&nbsp;&nbsp;&nbsp;|
                <button type="button" class="btn-danger" id="bttn">
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id, @class = "Delete" })
                </button>&nbsp;&nbsp;
            </td>
        </tr>
            }

        </table>
    </div>
</body>
</html>
